/* line 14, custom.scss */
body, h1, h2, .width-xs, .width-sm, .width-md, .width-lg, .width-20p, .width-30p, .width-40p, .width-50p, .topmenu, .topmenu .innercontainer .navigation, .slideshowcontainer .slideshownav, .slideshowcontainer .slideshownav .slideprev, .slideshowcontainer .slideshownav .slidenext, .footer ul, .footer ul li a {
  padding: 0px;
  margin: 0px auto;
}

/* line 43, custom.scss */
body {
  background: #D0D0D0;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
}

/* line 51, custom.scss */
h1 {
  margin-bottom: 4px;
  font-size: 3em;
}

/* line 56, custom.scss */
h2 {
  margin-bottom: 4px;
  font-size: 1.5em;
}

/* line 61, custom.scss */
a {
  color: #3594ff;
}
/* line 63, custom.scss */
a:hover {
  text-decoration: none;
  color: #0035bc;
}
/* line 64, custom.scss */
a:-webkit-any-link {
  text-decoration: none;
}

/* line 66, custom.scss */
.removespace {
  padding: 0px;
  margin: 0px auto;
}

/* line 70, custom.scss */
.shadow {
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}

/* line 73, custom.scss */
.text-white {
  color: #FFF;
}

/* line 74, custom.scss */
.text-blue {
  color: #005aff;
}

/* line 75, custom.scss */
.text-darkblue {
  color: #0035bc;
}

/* line 76, custom.scss */
.text-lightblue {
  color: #3594ff;
}

/* line 77, custom.scss */
.text-lighterblue {
  color: #78b5ff;
}

/* line 78, custom.scss */
.roundcorners-sm {
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 79, custom.scss */
.roundcorners-md {
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 80, custom.scss */
.roundcorners-lg {
  border-radius: 15px;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/* line 81, custom.scss */
.roundcorners-circle {
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* line 82, custom.scss */
.backgroundcolor-blue {
  background-color: #005aff;
}

/* line 83, custom.scss */
.backgroundcolor-lightblue {
  background-color: #3594ff;
}

/* line 84, custom.scss */
.backgroundcolor-lighterblue {
  background-color: #78b5ff;
}

/* line 85, custom.scss */
.backgroundcolor-darkblue {
  background-color: #0035bc;
}

/* line 86, custom.scss */
.backgroundcolor-white {
  background-color: #FFF;
}

/* line 87, custom.scss */
.padding-xs {
  padding: 10px;
}

/* line 88, custom.scss */
.padding-sm {
  padding: 20px;
}

/* line 89, custom.scss */
.padding-md {
  padding: 30px;
}

/* line 90, custom.scss */
.padding-lg {
  padding: 40px;
}

/* line 91, custom.scss */
.width-xs {
  max-width: 300px;
}

/* line 92, custom.scss */
.width-sm {
  max-width: 600px;
}

/* line 93, custom.scss */
.width-md {
  max-width: 900px;
}

/* line 94, custom.scss */
.width-lg {
  max-width: 1200px;
}

/* line 95, custom.scss */
.width-20p {
  width: 20%;
}

/* line 96, custom.scss */
.width-30p {
  width: 30%;
}

/* line 97, custom.scss */
.width-40p {
  width: 40%;
}

/* line 98, custom.scss */
.width-50p {
  width: 50%;
}

/* line 104, custom.scss */
.responsivemenu {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  position: fixed;
  z-index: 9999999999;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  top: 0px;
  right: -70%;
  width: 70%;
}
/* line 113, custom.scss */
.responsivemenu .responsivebutton {
  margin: 0px;
  padding: 20px;
  border: none;
  background: #78b5ff;
  width: 100%;
  text-align: left;
}
/* line 120, custom.scss */
.responsivemenu .responsivebutton .fa {
  font-size: 1.2em;
}
/* line 122, custom.scss */
.responsivemenu ul {
  padding: 0px;
  margin: 0px auto;
  list-style: none;
}
/* line 125, custom.scss */
.responsivemenu ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
/* line 127, custom.scss */
.responsivemenu ul li a {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  font-size: 1.2em;
  padding: 18px 25px;
  display: block;
}
/* line 132, custom.scss */
.responsivemenu ul li a:hover {
  background: rgba(51, 51, 51, 0.5);
  color: #FFF;
}
/* line 133, custom.scss */
.responsivemenu ul li a.active {
  background: #3594ff;
  color: #FFF;
}

/* line 138, custom.scss */
.responsivemenu-clicked {
  right: 0%;
}

/* line 148, custom.scss */
.topmenu {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top: solid 10px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  z-index: 999999999;
}
/* line 158, custom.scss */
.topmenu .innercontainer {
  padding: 0px 30px;
  margin: 0px auto;
  transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  border-bottom: solid 3px rgba(119, 119, 119, 0.1);
  height: 100px;
  background: rgba(0, 0, 0, 0.35);
}
/* line 164, custom.scss */
.topmenu .innercontainer img {
  position: absolute;
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
/* line 165, custom.scss */
.topmenu .innercontainer .logodark img {
  top: 10px;
  width: 300px;
}
/* line 166, custom.scss */
.topmenu .innercontainer .logolight img {
  top: -120px;
  width: 210px;
}
/* line 167, custom.scss */
.topmenu .innercontainer .responsivebutton {
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 10px 0px 0px 0px;
  padding: 0px 12px;
  border: none;
  background: #78b5ff;
  height: 80px;
}
/* line 177, custom.scss */
.topmenu .innercontainer .responsivebutton .fa {
  font-size: 1.2em;
}
/* line 179, custom.scss */
.topmenu .innercontainer .navigation {
  float: right;
  margin-right: 10px;
  list-style: none;
  font-size: 0;
}
/* line 185, custom.scss */
.topmenu .innercontainer .navigation li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 190, custom.scss */
.topmenu .innercontainer .navigation li a {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  display: block;
  padding: 0px 20px;
  color: #FFF;
  height: 100px;
  line-height: 100px;
}
/* line 197, custom.scss */
.topmenu .innercontainer .navigation li a:hover {
  background: #333;
}
/* line 198, custom.scss */
.topmenu .innercontainer .navigation li a.active {
  background: #78b5ff;
  color: #FFF;
  height: 110px;
}

/* line 204, custom.scss */
.topmenu-scrolled {
  border-top: solid 5px white;
}
/* line 206, custom.scss */
.topmenu-scrolled .innercontainer {
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 209, custom.scss */
.topmenu-scrolled .innercontainer .logodark img {
  top: -120px;
}
/* line 210, custom.scss */
.topmenu-scrolled .innercontainer .logolight img {
  top: 6px;
}
/* line 211, custom.scss */
.topmenu-scrolled .innercontainer .responsivebutton {
  background: #3594ff;
  height: 50px;
}
/* line 217, custom.scss */
.topmenu-scrolled .innercontainer .navigation li a {
  height: 70px;
  line-height: 70px;
  color: #555;
}
/* line 221, custom.scss */
.topmenu-scrolled .innercontainer .navigation li a:hover {
  background: #555;
  color: #FFF;
}
/* line 222, custom.scss */
.topmenu-scrolled .innercontainer .navigation li a.active {
  background: #3594ff;
  color: #FFF;
  height: 80px;
}

/* line 233, custom.scss */
.slideshowcontainer .slideshowcontent {
  position: absolute;
  top: 80%;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 99999999;
}
/* line 240, custom.scss */
.slideshowcontainer .slideshowcontent .slideshowcontent-section {
  color: #333;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 50px;
  display: inline-block;
}
/* line 246, custom.scss */
.slideshowcontainer .slideshowcontent .slideshowcontent-section .btn {
  margin-top: 5px;
}
/* line 251, custom.scss */
.slideshowcontainer .slideshownav a {
  transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  display: block;
  padding: 15px;
  color: #FFF;
}
/* line 256, custom.scss */
.slideshowcontainer .slideshownav a:hover {
  padding: 15px 30px;
}
/* line 260, custom.scss */
.slideshowcontainer .slideshownav .slideprev a {
  background: #555;
}
/* line 260, custom.scss */
.slideshowcontainer .slideshownav .slideprev a:hover {
  background: #3594ff;
}
/* line 264, custom.scss */
.slideshowcontainer .slideshownav .slidenext a {
  background: #444;
}
/* line 264, custom.scss */
.slideshowcontainer .slideshownav .slidenext a:hover {
  background: #3594ff;
}
/* line 268, custom.scss */
.slideshowcontainer #slideshow img {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 270, custom.scss */
.slideshowcontainer .inv img {
  width: 100%;
}

/* line 276, custom.scss */
.content-section {
  padding-top: 125px;
}
/* line 278, custom.scss */
.content-section .row {
  width: 100%;
  margin: 0px auto;
}

/* line 287, custom.scss */
.servicemenu {
  color: #FFF;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 292, custom.scss */
.servicemenu .servicemenu-thumb {
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  padding: 35px;
  height: 290px;
  margin-bottom: 30px;
}
/* line 297, custom.scss */
.servicemenu .servicemenu-thumb:hover {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 306, custom.scss */
.promo-img {
  border: solid 10px #78b5ff;
  margin: 0px auto;
  padding: 0px;
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
/* line 311, custom.scss */
.promo-img:hover {
  border-color: #3594ff;
}
/* line 312, custom.scss */
.promo-img img {
  margin: 0px auto;
}

/* line 319, custom.scss */
.googlemap-wrapper {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 325, custom.scss */
.map-canvas {
  height: 380px;
  padding: 0px;
  margin: 0px;
  border: 10px solid #FFF;
}

/* line 332, custom.scss */
.contact-form input {
  width: 100%;
  padding: 5px;
}
/* line 333, custom.scss */
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
  padding: 5px;
}
/* line 334, custom.scss */
.contact-form .mainBtn {
  background: #005aff;
  border: none;
  margin: 0px auto;
  margin-bottom: 8px;
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
/* line 343, custom.scss */
.contact-form .mainBtn:hover {
  background: #3594ff;
}

/* line 346, custom.scss */
.contact-pic {
  padding-right: 15px;
  padding-bottom: 5px;
}

/* line 350, custom.scss */
.contact-info {
  padding: 10px 0px 0px 0px;
  margin: 0px auto;
  list-style: none;
}

/* line 359, custom.scss */
.testimonials blockquote {
  background: #F8F8F8;
  color: #555555;
  display: block;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
/* line 366, custom.scss */
.testimonials blockquote:after {
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #3594ff #d0d0d0 #d0d0d0 #d0d0d0;
}
/* line 379, custom.scss */
.testimonials .carousel-info {
  overflow: hidden;
}
/* line 381, custom.scss */
.testimonials .carousel-info .imageholder {
  border: 1px solid #3594ff;
  height: 120px;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 15px;
}
/* line 387, custom.scss */
.testimonials .carousel-info .imageholder img {
  margin: 5px;
  height: 108px;
  width: 108px;
}
/* line 393, custom.scss */
.testimonials .carousel-info span {
  display: block;
}
/* line 396, custom.scss */
.testimonials span.testimonials-name {
  color: #005aff;
  font-size: 14px;
  font-weight: 300;
  margin: 25px 0 0 0px;
}
/* line 402, custom.scss */
.testimonials span.testimonials-post {
  color: #555555;
  font-size: 14px;
}
/* line 407, custom.scss */
.testimonials .testimonials-readmore {
  padding-top: 123px;
}

/* line 413, custom.scss */
.footer {
  background: #005aff;
  padding: 50px;
  color: #FFF;
}
/* line 418, custom.scss */
.footer a {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  color: #78b5ff;
}
/* line 421, custom.scss */
.footer a:hover {
  color: #000;
}
/* line 423, custom.scss */
.footer ul {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 430, custom.scss */
.footer ul li {
  display: inline-block;
}
/* line 432, custom.scss */
.footer ul li a {
  margin-left: 2px;
  margin-right: 2px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #FFF;
  font-size: 20px;
}
/* line 441, custom.scss */
.footer ul li a:hover {
  background: #78b5ff;
  color: #0035bc;
}

@media (max-width: 400px) {
  /* line 454, custom.scss */
  .slideshowcontainer {
    margin-top: 110px;
  }

  /* line 456, custom.scss */
  .slide img {
    width: 100%;
    min-width: 475px;
    margin-left: -75px;
  }
}
@media (max-width: 767px) {
  /* line 466, custom.scss */
  .topmenu .innercontainer .logodark img {
    top: 20px;
    width: 210px;
  }

  /* line 471, custom.scss */
  .topmenu-scrolled .innercontainer .logodark img {
    top: -120px;
  }
}
/* line 482, custom.scss */
.btn-warning {
  border: none;
  background: #005aff;
}
/* line 485, custom.scss */
.btn-warning:hover {
  background: #3594ff;
}

/* line 487, custom.scss */
.btn-clear {
  border: none;
  position: relative;
  color: #FFF;
  border: solid 1px rgba(255, 255, 255, 0.3);
}
/* line 492, custom.scss */
.btn-clear:hover {
  background: #FFF;
  color: #0035bc;
  border: solid 1px white;
}

/* line 494, custom.scss */
.btn {
  border-radius: 0px;
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
}
/* line 497, custom.scss */
.btn:hover {
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
}
